/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700|Varela+Round');

$header-font: 'Varela Round', 'sans-serif';
$base-font: 'Open Sans', 'sans-serif';

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #D23333;

$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$logo-orange: #DB6618;

$pink: rgba(216, 65, 105, 1);;
$dark-blue: rgba(22, 45, 61, 1);
$light-blue: rgba(22, 45, 61, 0.5);
$white: rgba(255, 255, 255, 1);
