.flex-horizontal {
    height: 100%;
    display: flex;
    justify-content: center;
}

.flex-between {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.flex-form {
    height: 100%;
    display: flex;
}

.event_page_image {
  height: 40vh;
  padding: 8px 0px 0px 8px;
}

.event_page_informations {
  height: 40vh;
  margin-left: 5px;
  width: 50%;

}

.event_page_menu {
  height: calc(60vh - 70px);
  margin-right: 5px;
  margin-top: 10px;
  width: 70%;
}

.event_page_menu_choices {
  padding: 8px;
  margin-left: 5px;
  margin-top: 10px;
  width: 100%;
}

.event_description {
  min-height: 100px;
  height: 100%;
  padding: 15px 0;
  font-size: 20px;
  font-weight: lighter;
}

#event-title {
  font-size: 26px;
}
.venue-informations {
  text-align: center;
  padding: 15px 10px;
  font-size: 18px;
  font-weight: lighter;
}

.venue-informations-free-spots {
  padding: 10px 10px;
}

.event-friend-invited {
  padding: 10px 10px;
}



.venue-informations-free-spots {
  padding: 10px 10px;
}

.event-friend-invited {
  padding: 10px 10px;
}

.no-padding {
  padding: 0 !important;
}


.event-friend {
  background-color: white;
  border: 1px solid grey;
  text-align: center;
  width: calc(100% - 10px);
  max-height: 100%
}


.menu_title h4 {
  margin: 0px 0px;
}

.menu-text {
  font-size: 16px;
  font-weight: lighter;
}


.text_hover:hover {
  cursor: text;
  background-color: #fcfcfc;
}


.choice_buttons {
  height: 100%;
}

.imin_btn {
  font-size: 30px;
  font-weight: bold;
  width: 50%;
  margin-right: 5px;
  height: 100%;
  padding: 10px 40px;

}

.imout_btn {
  font-size: 30px;
  font-weight: bold;
  width: 50%;
  margin-left: 5px;
  height: 100%;
  padding: 10px 40px;
}

.required_items {
  background-color: white;
  height: calc(80% - 8px);

}


.menu_title {
  width: 30%;
  padding-right: 30px;
  text-align: right;
}



.recognitionStyling {
  max-width: 10px;
}


.inline_display {
  display: inline;
}

.free-spots {
  background-color: lightgrey;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}


.to_bring_formgroup {
  margin: 10px;
  border-top: 1px solid lightgrey;
  padding-top: 5px;
}

.menu_category {
  padding-top: 20px;
}

.menu_items_box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}

.menu-box {
  margin: 0px 100px;
  border: 1px solid lightgrey;
  padding-bottom: 20px;
}

.boxed {
  border: 0px solid grey;
  margin: 15px 5px;
}


.edit-button {
  padding: 10px 40px;
}

#socialshare {
}

.description_padding {
  padding: 20px 40px;
  margin: 40px 100px;
  border: 1px solid lightgrey;
}

.date_picker_format {
  width: 45%;
  display: inline-block;
}
