.flex-horizontal {
    height: 100%;
    display: flex;
    justify-content: center;
}

.flex-between {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.event_page_image {
  height: 40vh;
  padding: 8px 0px 0px 8px;
  width: 50%;
  background-image: url('https://www.towcestermillbrewery.co.uk/wp-content/uploads/2016/07/bbq.jpg');
  background-size: cover;
  margin-right : 5px

}

.event_page_informations {
  height: 40vh;
  margin-left: 5px;
  width: 50%;

}

.event_page_menu {
  height: calc(60vh - 70px);
  margin-right: 5px;
  margin-top: 10px;
  width: 70%;
}

.event_page_menu_choices {
  padding: 8px;
  height: calc(60vh - 70px);
  margin-left: 5px;
  margin-top: 10px;
  width: 30%;
  background-color: lightgrey;
}

.venue-informations {
  text-align: center;
  background-color: white;
  border: 1px solid grey;
  width: 35%;
  height: 100%;
}

.event-friend {
  background-color: white;
  border: 1px solid grey;
  text-align: center;
  width: calc(100% - 10px);
  max-height: 100%
}

.menu_title {
  background-color: white;
  margin-bottom: 8px;
  height: 50px;
  vertical-align: middle;
}

.menu_title h3 {
  margin: 0px 0px;
}

.menu_meals {
  height: calc(100% - 50px - 8px - 8px);
  width: 100%;
}

.menu_others {
  margin-top: 8px;
  height: 100%;
  height: 45%;
}

.menu_main {
  text-align: center;

  background-color: white;
  border: 1px solid grey;
  height: 55%;
}

.text_hover:hover {
  cursor: text;
  background-color: #fcfcfc;
}

.menu_snacks {
  text-align: center;
  height: 100%;
  background-color: white;
  border: 1px solid grey;
  width: 50%;
  margin-left: 5px;
  width: calc(50% - 5px);
}

.menu_drinks {
  text-align: center;
  margin-right: 5px;
  width: calc(50% - 5px);
  height: 100%;
  background-color: white;
  border: 1px solid grey;
}


.choice_buttons {
  height: 20%;
  margin-bottom: 8px;

}

.event_page_menu_choices {

}

.imin_btn {
  font-size: 30px;
  font-weight: bold;
  width: 50%;
  margin-right: 5px;
  height: 100%;

}

.imout_btn {
  font-size: 30px;
  font-weight: bold;
  width: 50%;
  margin-left: 5px;
  height: 100%;

}

.required_items {
  background-color: white;
  height: calc(80% - 8px);

}
