.flex-horizontal {
    height: 100%;
    display: flex;
    justify-content: center;
}

.flex-between {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.flex-around {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.flex-form {
    height: 100%;
    display: flex;
}

.event_page_image {
  height: 40vh;
  padding: 8px 0px 0px 8px;
}

.event_page_informations {
  height: 40vh;
  margin-left: 5px;
  width: 50%;

}

.event_page_menu {
  height: calc(60vh - 70px);
  margin-right: 5px;
  margin-top: 10px;
  width: 70%;
}

.event_page_menu_choices {
  padding: 8px;
  margin-left: 5px;
  margin-top: 10px;
  width: 100%;
}

.event_description {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  font-size: 15px;
  font-family: $base-font;
  font-weight: lighter;
}

#event-title {
  font-size: 26px;
}
.venue-informations {
  width: 500px;
  text-align: center;
  padding: 20px 15px;
  font-size: 18px;
  font-weight: lighter;
  background-color: white;
  opacity: 1;
  position: relative;
  left: calc(50% - 250px);
  top: -200px;
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 4px;
}

.venue-informations-show {
  width: 500px;
  text-align: center;
  padding: 20px 15px;
  font-size: 18px;
  font-weight: lighter;
  border: 1px solid $dark-blue;
  background-color: white;
  opacity: 1;
}

.additional-info {
  min-width: 500px;
}

.upload_image {
  position: absolute;
  left: 5px;
  top: calc(40vh - 70px);
}

.venue_info_element {
  padding: 0px;
  margin: 10px 0px;
}

.venue-informations-free-spots {
  padding: 10px 10px;
}

.event-friend-invited {
  padding: 10px 10px;
}


.venue-informations-free-spots {
  padding: 10px 10px;
}


.no-padding {
  padding: 0 !important;
}


.event-friend {
  background-color: white;
  border: 1px solid grey;
  text-align: center;
  width: calc(100% - 10px);
  max-height: 100%
}


.menu_title h4 {
  margin: 0px 0px;
}

.menu-text {
  font-size: 16px;
  font-weight: lighter;
  border-left: 1px solid $light-blue;
  padding: 0px 10px;
}

.text_hover:hover {
  cursor: text;
  background-color: #fcfcfc;
}


.choice_buttons {
  height: 100%;
  padding: 10px 30px;
}

.choice-btn {
  font-size: 30px;
  font-weight: bold;
  width: 50%;
  margin-right: 30px;
  margin-left: 10px;
  height: 100%;
  padding: 12px 20px;
  border-radius: 6px;
  text-decoration: none;
}

.choice-btn-sm {
  font-size: 30px;
  font-weight: bold;
  width: 50%;
  margin-left: 30px;
  margin-right: 10px;
  opacity: 0.5;
  height: 100%;
  padding: 12px 20px;
  border-radius: 6px;
}

.confirmed {
  display: flex;
  align-items: center;
}

.confirmed-element {
  margin-right: 5px;
}

.required_items {
  background-color: white;
  height: calc(80% - 8px);

}

.recognitionStyling {
  max-width: 10px;
}


.inline_display {
  display: inline;
}

.free-spots {
  background-color: $pink;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 0;
  opacity: 1;
}
.free-spots-counter {
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.free-spot-placeholder {
  color: white;
  opacity: 1;
}


.to_bring_formgroup {
  margin: 20px 10px;
  border: 1px solid lightgrey;
  padding: 10px;
}

.menu {
  padding-bottom: 10px;
}


.menu_title {
  width: 30%;
  padding-right: 30px;
  text-align: right;
}

.menu_title_show {
  width: 50%;
  padding-right: 30px;
  text-align: right;
}

.menu_category {
  padding-top: 20px;
  padding-bottom: 10px;
}

.menu_items_box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}

.menu-box {
  border: 1px solid lightgrey;
  padding: 0px 100px 20px 100px;
  margin-bottom: 40px;
  background-color: white;
border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 4px;
}

body {
  background-color: rgb(249, 249, 249);
}

.boxed {
  border: 1px solid lightgrey;
  margin: 15px 5px;
}


.edit-button {
  padding: 10px 40px;
}

#socialshare {
}

.show_page_content {
  padding: 20px 0px;
  margin: 40px 120px;
  border-top: 1px solid $dark-blue;
  border-bottom: 1px solid $dark-blue;
  background-color: white;
  border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 4px;

}

.show_page_content_no_border {
  padding: 20px 40px;
  margin: 0px 120px 0px 120px;
background-color: white;
border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 4px;


}

.date_picker_format {
  width: 45%;
  display: inline-block;
}

.margin {
  margin-bottom: 20px;
}

.bring-items {
  position: fixed;
  right: 0;
  top: 50%;
  bottom: 50%;
  margin-left: 40px;
  z-index: 1;
  width: 250px;
  background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
     display: block;
}

.list-group {
  width: 100%;
  height: 150px;
  overflow: auto;
}

#new_comment {
  margin: 25px 0px 25px 0px;
}

#event-title {
  padding-bottom: 5px;
  border-bottom: 2px solid $dark-blue ;
  margin-bottom: 25px;
}

#event-month {
  color: $pink;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: normal;
}

#event-day {
  color: black;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 0;
  font-size: 25px;
}

#event-hour {
  margin-top: 15px;
}

#at_hour {
  color: $pink;
}


.comment {
  border-top: 1px solid $light-blue;
  padding: 15px 30px 5px;
  margin-bottom: 0px;
}

#comment-info {
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 0;
  display: block;
}

#comments {
  max-height: 300px;
  overflow: auto;
}

#menu-toggle {
  top: 50%;
  position: fixed;
}

#additional-info {
  border-right: 1px solid $light-blue;
}

.map-padding{
  padding-bottom: 70px;
}


.spots-box {
  border: 1px solid lightgrey;
  height: 250px;
  padding: 20px 20px;
  background-color: white;
border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 4px;
}

.description-box {
  border: 1px solid lightgrey;
  padding: 20px 20px;
  height: 250px;
  background-color: white;
border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 4px;
}
