/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.btn-signup {
  padding: 15px 90px;
  color: white;
  background-color: $pink;
  font-size: 25px;
  border: 0;
  opacity: 0.8;
}
.btn-signup:hover{
  opacity: 1;
  color: white;
}
.dashboard_subtitle {
  padding-left: 15px;
  font-size: 30px;
  color: $pink;
  font-family: $header-font;
  font-weight: 700;
}

.home_icon {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}

.icon_descr {
  margin: 60px 0px 0px 0px;
  color: $pink;
  font-style: $header-font;
}

.home-container-margin {
  margin-top: 30px;
  margin-bottom: 30px;
}

.last-home-container-margin {
  margin-bottom: 50px;
}


.landing-page-text {
  padding: 5px 40px;
  font-family: $base-font;
}

@media (max-width: 768px) {
#address-mobile{
  margin-top: 5px;
  margin-bottom: 5px;
}
#title-mobile{
  margin-bottom: 5px;
}
.form-control{
  width: 730px;
  margin-left: 5px;
}
.input-group-addon {
  margin-top: 10px;
}
}
