<div id="footer">
<div class="container">
      <div class="info-footer">

        <div>
          <ul class="list-inline">
            <li></li>

          </ul>
      </div>


      <div>
          <p class="dark_blue">About Us</p>
      </div>

  </div>
</div>
</div>
