<div id="footer">
<div class="container">
      <div class="info-footer">

        <div>
          <ul class="list-inline">
            <li><a href="" class="footer-icon"><i class="fa fa-youtube fa-2x"></i></a></li>
            <li><a href="" class="footer-icon"><i class="fa fa-instagram fa-2x"></i></a></li>
            <li><a href="" class="footer-icon"><i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="" class="footer-icon"><i class="fa fa-twitter fa-2x"></i></a></li>
          </ul>
      </div>


      <div>
          <p>About Us</p>
      </div>

  </div>
</div>
</div>
