<button type="button"  id="to_bring_formgroup_<%= element.id %>" class="btn btn-primary bring-elements">
<%= element.quantity == nil ? "" : "#{element.quantity}x " %> <%= element.name.capitalize %>
       </button>
