<%= simple_form_for event, remote: true do |f| %>
  <%= f.input :description, :input_html => {:style=> 'height: 100px; width:100%'}%>
  <button type="submit" class="btn btn-default">
      <i class="icon-save" style="color: white"></i> save
  </button>
<% end %>
