 <div id="wrapper2" class="<%= "toggled" if @event.coming.include? current_user %>">

          <div id="sidebar-wrapper2">

            <div class="required_items text-center">
              <p>Choose something to bring</p>
              <% @event.menu_items.each do |item|  %>
              <% if item.invitation.nil? %>
              <%= link_to "#{item.name}  x#{item.quantity}", event_brings_item_path(@event, item), class: "btn btn-default btn-success" %>
              <% end %>
              <% end %>
            </div>

            <div>
              <p>I bring</p>
              <ul>
                <% current_user.bring(@event).each do |element| %>
                  <li><%= element.name %> x <%= element.quantity %></li>
                <% end %>
              </ul>
            </div>

          </div>
        </div>
