#footer {
  width: 100%;
  height: 70px;
  // position: absolute;
  // bottom: 0;
  background: #FEFFFF;
  margin-top: 30px;
  border-top: 1px solid $light-blue;
  padding: 0px 30px;
  color: #CCCCCC;
  text-decoration: none;
  bottom: 0;
  position: absolute;
}

.info-footer {
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p{
    font-size: 18px;
    font-weight: lighter;
  }

}
.footer-icon {
  color: $pink;
  padding-left: 20px 10px;
}

.info-footer > a:hover{
  color: $dark_blue;
}

.dark_blue {
  color: $dark-blue
}

