.banner {
  text-align: center;
  height: 300px;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-content {
  color: white;
  h1{
    font-size: 130px;
  }
  h2{
    font-size: 90px;
    margin-bottom: 30px;
  }
  p{
    font-size: 30px;
    font-weight: lighter;
    font-family: $base-font;
  }
}
.banner_full {
  text-align: center;
  height: calc(100vh - 70px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner_half {
  text-align: center;
  height: 50vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_edit {
  height: 40vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  background-color: transparent;

}

.banner_form_pack {
  position: absolute;
   top: 0px;
   left: 0px;
   margin: 0;
   padding: 0;
}

#create-dinner {
  opacity: 0.9;
}


@media(min-width:768px) {
  .banner-content {
  color: white;
  h1{
    font-size: 80px;
  }
  h2{
    font-size: 50px;
    margin-bottom: 10px;
  }
  p{
    font-size: 20px;
    font-weight: lighter;
    font-family: $base-font;
  }
}
}
