.form {
  padding: 30px 40px;
}

.form-links {
  padding-top: 30px;
}

.btn-form{
}

.btn-form:hover{
  background-color: #DB6618;
  color: white;
  border: 0;
}

.link-form {
  text-decoration: none;
  color:  #DB6618;
}

.link-form:hover {
  color:  #DB6618;
}
